{% extends "template.html" %}
{% block content %}
<form method="post" action="admin">
    <div class="mb-3">
        <label for="user" class="form-label">Usuari:</label>
        <input type="text" name="user" value=""  class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Contrasenya:</label>
        <input type="password" name="password" value=""  class="form-control"/>
    </div>
    <input type="submit" value="Envia" class="btn btn-primary"/>
</form>
{% endblock %}