{% extends "template.html" %}
{% block content %}
<table class="table table-striped"">
    <thead>
        <tr>
            <th scope="col">Data</th>
            <th scope="col">Nom</th>
            <th scope="col">Cognom</th>
            <th scope="col">Activitat</th>
            <th scope="col">Màquina</th>
            <th scope="col">Material</th>
            <th scope="col">Us de l'espai(h)</th>
            <th scope="col">Us del maquinari(h)</th>
        </tr>
    </thead>
    <tbody>
    {% for signin in history %}
        <tr>
            {% for field in range(8) %}
                <td>{{ signin[field] }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}