{% extends "template.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>Registre de Fabricaires</h1>
    </div>
    
</div>
<hr/>
<form id="form_signin" method="POST" action="checkin" >
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="fname" class="form-label">Nom:</label>
            <input type="text" name="fname" class="form-control" required  minlength="3" />
        </div>
        <div class="col-md-6">
            <label for="sname" class="form-label">Cognom:</label>
            <input type="text" name="sname" class="form-control" required  minlength="3" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="date" class="form-label">Data i hora d'inici:</label>
            <input id="in_date" type="datetime-local" name="date" value="" class="form-control"/>
        </div>
        <div class="col-md-6 mb-3">
            <label for="visit_time" class="form-label">Duració de la visita:</label>
            <select id="sel_visit_time" name="visit_time" class="form-select" required>
                <option value="" selected> </option>
                {% for length in visit_lengths %}
                    <option value="{{length[0]}}">{{length[1]}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="activity" class="form-label">Activitat duta a terme:</label>
            <select id="sel_activity" name="activity" class="form-select" required>
                <option value="" selected> </option>
                {% for activity in activities %}
                    <option value="{{activity[0]}}">{{activity[1]}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div id="extended_form" class="row">
       
    </div>

    <div class="alert alert-success visually-hidden" role="alert" id="success_alert">
        A simple success alert—check it out!
    </div>
    <div class="row ">
        <div class="col-sm-12 col-md-2 offset-md-10">
            <input id="btn_submit" type="submit" value="Envià" class="btn btn-primary btn-block w-100"/>
        </div>
    </div>
</form>

<script>    
    var dateUpdateInt = false;
    function init(){
        var alert =  document.getElementById("success_alert")
        alert.innerHTML = "";
        if(alert.classList.contains("visually-hidden")==false){
            alert.classList.add("visually-hidden");
            document.getElementById("btn_submit").classList.remove("visually-hidden");
        }
        document.getElementById("extended_form").innerHTML="";
        document.getElementById("form_signin").reset();
        dateUpdateInt = setInterval(updateDate, 1000);
        updateDate();
    }
    
    function updateDate(){
        var date = new Date();
        document.getElementById("in_date").value = date.getFullYear().toString() + '-' + (date.getMonth() + 1).toString().padStart(2, 0) + '-' + date.getDate().toString().padStart(2, 0)+'T'+date.getHours().toString().padStart(2, 0)+":"+date.getMinutes().toString().padStart(2, 0);
    }

    document.getElementById("in_date").addEventListener("focus", function(){ console.log("cambio!"); clearInterval(dateUpdateInt); })
    
    function loadActivityDetails(event){
        activity = event.target.value;
        if(activity != -1){
            xhttp = new XMLHttpRequest();
            xhttp.onload = function() {
                answer = JSON.parse(this.responseText);

                document.getElementById("extended_form").innerHTML="";
                if(answer.machines != false){
                    addFormSelector("Maquinari utilitzat:", "sel_machines", "machine", answer.machines);
                    addFormSelector("Temps d'utilització:", "sel_machine_usage", "machine_usage", answer.machine_usage);
                }
                if(answer.materials != false){
                    addFormSelector("Quin material faràs servir?", "sel_materials", "material",  answer.materials);
                }
            }
            xhttp.open("GET", "getActivityDetails/" + activity, true);
            xhttp.send();
        }
    }


    function addFormSelector(label, id, name, options){
        // create dropdown
        selector = document.createElement("select");
        selector.id = id;
        selector.name = name;      
        selector.required="required";

        sel_op = document.createElement("option")
        sel_op.value=""
        selector.appendChild(sel_op);

        options.forEach(option => {
            sel_op = document.createElement("option"); 
            sel_op.value = option.id; 
            sel_op.innerHTML = option.name; 
            selector.appendChild(sel_op);
        });

        // container for bootstrap
        selector.classList.add("form-select");

        sel_cont = document.createElement("div");
        sel_cont.classList.add("col-md-6");
        sel_cont.classList.add("mb-3");

        sel_lbl = document.createElement("label");
        sel_lbl.classList.add("form-label");
        sel_lbl.innerHTML = label;

        sel_cont.appendChild(sel_lbl);
        sel_cont.appendChild(selector);
        
        document.getElementById("extended_form").appendChild(sel_cont);
    }

    function submit_form(event){
        event.preventDefault();

        params         = new FormData(event.target);
        date           = params.getAll("date")
        fname          = params.getAll("fname")
        sname          = params.getAll("sname")
        activity       = params.getAll("activity")
        visit_time     = document.getElementById("sel_visit_time")    ? params.getAll("visit_time") : null;
        machine        = document.getElementById("sel_machines")      ? params.getAll("machine") : null;
        machine_usage  = document.getElementById("sel_machine_usage") ? params.getAll("machine_usage") : null;
        material       = document.getElementById("sel_materials")     ? params.getAll("material") : null;
        
        if(date != '' && fname != '' && sname != '' && activity != -1 && visit_time != -1 && machine != -1 && machine_usage != -1 && material != -1){
            xhttp = new XMLHttpRequest();
            xhttp.onload = function() {
                answer = JSON.parse(this.responseText);
                if(answer["result"] == "success"){
                    var alert =  document.getElementById("success_alert")
                    alert.innerHTML = "Gracies " + fname + " " + sname + ".<br/>El teu registre s'ha realitzat correctament.";
                    alert.classList.remove("visually-hidden");
                    document.getElementById("btn_submit").classList.add("visually-hidden");
                }else{
                    console.log("Error");
                }
                setTimeout(init, 5000);
            }
            xhttp.open("POST", "checkin", false);
            xhttp.send(params);
        }
    }
    document.addEventListener("readystatechange", function(event){
        if(event.target.readyState=="complete"){
            document.getElementById("sel_activity").addEventListener("change", loadActivityDetails);
            document.getElementById("form_signin").addEventListener("submit", submit_form);
            init();
        }
    });
</script>
{% endblock %}